<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    <h1>Cadastrar autor</h1>
    <form action="" method='POST'>
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ formAutores.nome.label_tag }}</td>
                <td>{{ formAutores.nome }}</td>
            </tr>
            <tr>
                <td>{{ formAutores.criado_em.label_tag }}</td>
                <td>{{ formAutores.criado_em }}</td>
            </tr>
            <hr>
        </table>
        <button type="submit">Salvar Autor</button> 
        <hr>
    </form>
</body>
</html>