<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
</head>
<body>
    <h1><center>Livros</center></h1>
    <a href="/livro/listar">Voltar</a><br>
    <h3>Tem certeza que deseja deletar o livro {{ livro.nome }} </h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</body>
</html>
